.carousel {
  width: 687px;
  height: 328px;
  padding: 32px 0;
  border: 1px solid #CCDDC7;
  /* position: absolute;
  top: 440px;
  left: 720px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.track {
  position: relative;
  display: flex;
  gap: 80px; /* adjust as needed */
  will-change: transform;
}

.carouselImage {
  display: block;
  object-fit: cover;
}

/* Desktop >1440px — content fixed at 1440, gutters added */
@media (min-width: 1441px) {

  
}

/* Desktop 1025–1440px — scale from 1440px */
@media (max-width: 1440px) and (min-width: 1025px) {
  .carousel {
    max-width: 687px;
    width: 47.87vw;
  }
}

/* Tablet 501–1024px — scale from 1024px */
@media (max-width: 1024px) and (min-width: 501px) {
  .carousel {
    height: 600px;
    max-width: 557px;
    width: 54.394vw;
  }

  .track {
    flex-direction: column;
    align-items: center;
  }
}

/* Mobile ≤500px — scale from 375px */
@media (max-width: 500px) {
  .carousel {
    height: 190px;
    width: 87.2vw;
    justify-content: space-around;
  }

  .track {
    gap: 45px;
  }

  .track .carousel-card{
    display: flex;
    align-items: center;
    width: auto !important;
    height: 100% !important;
  }

  .carouselImage {
    width: 197.1999969482422px;
    height: 97.5999984741211px;
  }
}