:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Default: Desktop 1440px scaling */
:root {
  --scale: calc(100vw / 1440);
  --content-max: 1440px;
  --gutter: 0px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* .bodyL {
  letter-spacing: -0.03em;
  line-height: 140%;
  font-size: 24px;
  color: #153E2A;
  text-align: left;
} */

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
